.btn-small {
    width: 100%;
    padding: 10px;
    height: auto;
    background-color: var(--button-background-color);
    box-sizing: border-box;
    border-bottom: 3px solid var(--greyShadow);

    .b-content {
        text-align: center;

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .title, .description {
            color: var(--text-color-dark-10);
        }

        .description {
            margin-top: 3px;
        }
    }
}