.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .tab-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .tab-header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            width: 100%;

            .text {
                margin-left: 5px;
            }

            .tab-level { 
                flex: 1;
                display: flex;

                .tab-level-item {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    background-color: var(--tab-background-color);
                    margin: 5px;
                    flex: 1;
                    padding: 5px 10px;

                    &.active {
                        background-color: var(--tab-background-color-active);
                    }
                }
            }
        }

        .tab-header > .active {
            background-color: var(--tab-background-color-active);
        }

        .tab-content{
            
            .row {
                display: flex;
                justify-content: center;
                align-items: center;

                .cell-box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 66.25px;
                    height: 66.25px;
                    border-radius: 10px;
                    box-sizing: border-box;
                    border: 2px solid var(--button-background-color);
                    margin: 4px 2px;
                    font-size: 2rem;
                    line-height: 2rem;
                    font-weight: bold;
                }
            }
        }
    }

    .board-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .row-container {
            display: flex;

            .cell-item {
                width: 50px;
                height: 50px;
                border: 1px solid var(--grey);
                border-radius: 8px;
                margin: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                font-weight: bold;
            }

            .no-spot {
                background-color: var(--no-spot-background-color);
                color: var(--white);
            }

            .wrong-spot {
                background-color: var(--wrong-spot-background-color);
                color: var(--white);
            }

            .correct-spot {
                background-color: var(--correct-spot-background-color);
                color: var(--white);
            }
        }
    }
}