.button {
    width: 40px;
    height: 40px;
    background-color: var(--button-background-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}