.text {
    font-family: Arial, Helvetica, sans-serif;

    color: var(--text-color);
}

.text-18 {
    font-size: 18px;
    font-weight: bold;
}

.text-16 {
    font-size: 16px;
    font-weight: 500;
}

.text-14 {
    font-size: 14px;
    font-weight: 400;
}

.text-12 {
    font-size: 12px;
    font-weight: normal;
}

.text-36 {
    font-size: 36px;
    font-weight: bold;
}