:root[data-theme="dark"] {
    --background-color: #3F3F3F;

    // Modal
    --bg-modal-color: #000000ab;
    --bg-modal-content-color: #fff;

    // Text color
    --text-color: #fff;
    --text-color-greyish: #989898;
    --text-color-dark-10: #1a1a1b;

    // color
    --white: #000;
    --black: #fff;
    --grey: #808080;
    --grey-light-93: #edeff1;
    --green: #008000;
    --green53: #6aaa64;
    --greenShadow: #538d4e;
    --yellow57: #c9b458;
    --grey48: #787c7e;
    --greyShadow: #c2c5c9;

    // Button Color
    --button-background-color: #d3d6da;

    // Tabs Color
    --tab-background-color: #f6f7f8;
    --tab-background-color-active: #d3d6da;
}

:root {
    --background-color: #fff;

    // Modal
    --bg-modal-color: #000000ab;
    --bg-modal-content-color: #fff;

    // Text Color
    --text-color: #000;
    --text-color-greyish: #989898;
    --text-color-dark-10: #1a1a1b;

    // Color
    --white: #fff;
    --black: #000;
    --grey: #808080;
    --grey-light-93: #edeff1;
    --green: #008000;
    --green53: #6aaa64;
    --greenShadow: #538d4e;
    --yellow57: #c9b458;
    --grey48: #787c7e;
    --greyShadow: #c2c5c9;

    // Button Color
    --button-background-color: #d3d6da;

    // Tabs Color
    --tab-background-color: #f6f7f8;
    --tab-background-color-active: #d3d6da;

    // Cell Color
    --no-spot-background-color: #787c7e;
    --wrong-spot-background-color: #c9b458;
    --correct-spot-background-color: #6aaa64;
}
