.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;

    .has-margin-right{
        margin-right: 4px;
    }

    .btn-box {
        display: flex;
    }

    .texts{
        flex: 1;

        .text-title{
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            text-align: center;
        }

        .text-sub-title{
            font-size: 12px;
            text-align: center;
            font-weight: bold;
        }
    }
}