.modal-statistics {
    .content {

        .main {
            padding: 20px;

            .statistics {
                display: flex;
                flex-wrap: wrap;

                .s-item {
                    flex: 35%;
                    background-color: var(--grey-light-93);
                    padding: 5px;
                    border-radius: 15px;
                    margin: 5px;
                    text-align: center;

                    .value {
                        font-weight: 400;
                        color: var(--text-color-greyish)
                    }
                }
            }

            .guess-distribution {
                margin-top: 20px;

                .title {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .graph-container {
                    .graph-item {
                        display: flex;
                        margin-bottom: 3px;

                        .graph-bar {
                            border-radius: 15px;
                            height: 100%;
                            background-color: var(--grey);
                            padding: 0 10px;
                            margin-left: 3px;
                            color: var(--text-color);
                        }
                    }
                }
            }
        }
    }
}