.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-modal-color);
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
        width: calc(90% - 40px);
        height: fit-content;
        background: var(--bg-modal-content-color);
        border-radius: 8px;
        padding: 20px;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .title {

            }

            .icon-close {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                cursor: pointer;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}