.setting-content {
    .s-item {
        padding: 16px 0;
    }

    .s-item:not(:last-child) {
        border-bottom: 1px solid var(--grey);
    }

    .s-language {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .choose-language {
            display: flex;
            align-items: center;

            .icon-flag {
                display: flex;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .text-nation {
                margin-left: 5px;
            }
        }
    }

    .s-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contact {
            color: var(--grey);
        }
    }
}