.modal-guide {
    .content {
        .main {
            div {
                margin: 10px 0;
            }

            .example {
                display: flex;

                .example-item {
                    padding: 5px 10px;
                    border: 2px solid var(--grey);
                    border-radius: 8px;
                    margin-right: 2px;

                    &.correct {
                        background: var(--green53);
                    }

                    &.wrong {
                        background: var(--yellow57);
                    }

                    &.not-exist {
                        background: var(--grey48);
                    }
                }
            }
        }
    }
}