.btn-large {
    width: 100%;
    padding: 10px;
    height: auto;
    background-color: var(--green53);
    box-sizing: border-box;

    .b-content {
        text-align: center;

        .title, .description {
            color: var(--white);
        }

        .description {
            margin-top: 3px;
        }
    }
}