.modal-language {
    .content {
        .main {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;

            .button {
                margin: 10px 10px 0 0;
                border-bottom: 5px solid var(--greenShadow);
                flex: 40%;
            }

            .btn-language {

                .b-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 3px;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}