.footer-container {
    bottom: 0;
    width: 100%;
    
    .key-board-container {
        .key-board-rows {
            display: flex;
            justify-content: space-between;

            .key-item {
                flex: 1;
                margin: 3px;

                &.flex {
                    flex: 1.7
                }

                .key-no-spot {
                    background-color: var(--no-spot-background-color);
                    .title{
                        color: var(--white);
                    }
                }
    
                .key-wrong-spot {
                    background-color: var(--wrong-spot-background-color);
                    .title{
                        color: var(--white);
                    }
                }
    
                .key-correct-spot {
                    background-color: var(--correct-spot-background-color);
                    .title{
                        color: var(--white);
                    }
                }

                .btn-small {
                    padding: 7px 5px;

                    .icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 21px;
                        }
                    }
                }
            }
        }
    }
}