.toggle {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .label {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title {

        }

        .description {
            color: var(--text-color-greyish);
            margin-top: 3px;
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            height: 0;
            width: 0;
            visibility: hidden;
        }

        input[type=checkbox]:checked + label {
            background: var(--green);
        }

        input[type=checkbox]:checked + label::after {
            left: calc(100% - 4px);
            transform: translateX(-100%);
        }

        .label-checkbox {
            cursor: pointer;
            width: 48px;
            height: 24px;
            background: var(--grey);
            display: block;
            border-radius: 24px;
            position: relative;
        }

        .label-checkbox::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 16px;
            height: 16px;
            background: white;
            border-radius: 16px;
            transition: 0.3s;
        }
    }
}